:root {
  --black: #272D37;
  --white: #ffffff;
	--blue: #437EF7;
	--light-blue: #e6f0ff;
	--dark-white: #f8f9fb;
	--light-gray: #DAE0E6;
	--gray: #5F6D7E;
	--light-gray-border: #EAEBF0;
	--icon-bg: #F5FAFF;
	--blue-bg: #2B63D9;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  font-family: "Inter", system-ui;
	line-height: 1;
  height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
	max-width: 100%;
}

.header {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--light-gray-border);
  background-color: var(--light-gray-border);
}

.header_desktop {
  display: none;
}

.logo {
  width: 120px;
  height: 22.4px;
  top: 4.8px;
  left: 4px;
}
  

.hamburger_menu {
  width: 24px;
  height: 24px;
  gap: 8px;
  border-radius: 5px;
}


.hero {
  width: 375px;
  background-color: var(--light-gray-border);
}

.hero_image img {
  width: 343px;
  height: 343px;
  padding: 32px 16px 0;
}

.hero_info {
  width: 375px;
  padding: 32px 16px 40px 16px;
}

.hero_first {
  width: 343px;
  height: 210px;
  gap: 24px;
}

.hero_info h3 {
font-size: 36px;
font-weight: 600;
line-height: 44px;
letter-spacing: -0.02em;
text-align: left;
padding: 0 16px 24px 16px;

}

.hero_p {
  width: 343px;
  height: 98px;
  gap: 10px;
  padding: 0 16px 24px;
}

.hero_info p { 
  display: flex; 
  align-items: center;
  gap: 12px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
}

.hero_second {
  display: flex;
  flex-direction: column;
  width: 343px;
  height: 140px;
  gap: 16px;
}
.hero_second input{
  height: 46px;
  padding: 12px 16px;
  border-radius: 6px;
  border: 1px;
  border-color: var(--light-gray);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
}
.hero_second button {
  width: 343px;
  height: 46px;
  padding: 12px 18px;
  border-radius: 6px;
  background-color: var(--blue);
  border-style: none;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  color: var(--white);
}

.hero_second p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: var(--gray);
}

.features {
  width: 375px;
  padding: 32px 16px;
  gap: 32px;
}

.features_first {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.features_second {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.features_third {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.product {
  width: 375px;
  padding: 32px 16px;
  gap: 32px;
}

.product_info h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.02em;
  text-align: center;
}

.product_info p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  text-align: center;
  color: var(--gray);
}

.product_mains {
  width: 343px;
}

.product_mains img {
  width: 343px;
  height: 343px;
  padding: 32px 16px;
  justify-content: center;
}


.product_mains h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.02em;
  text-align: left;
  padding: 0 16px 24px;
}


.products_p img {
  width: 18px;
  height: 18px;
  padding: 5.25px 3px 4.81px 3px;
}

.products_p p{
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: var(#5F6D7E);
}

.product_mains a {
  display: flex;
  align-items: center;
  width: 133px;
  height: 46px;
  padding: 12px 18px 12px 18px;
  gap: 6px;
  border-radius: 6px ;
  background-color: var(--blue-bg);
  border-style: none;
  color: var(--white);
  margin-top: 32px;
    img{
      width: 20px;
      height: 20px;
      padding: 5px 4.51px 5px 4.17px;
    }
}

.costumer {
  width: 375px;
  padding: 16px ;
  background-color: var(--blue-bg);
}



.costumer_grid {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  margin-top: 32px;
}

.costumer h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--white);
  padding-bottom: 12px;
}

.costumer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  text-align: center;
  color: var(--dark-white);
}

.costumer_comment {
  width: 343px;
  height: 192px;
  margin: 0 16px 16px 16px ;
  gap: 8px;
  border-radius: 10px;
  background-color: var(--blue);
}

.costumer_header {
  width: 311px;
  height: 42px;
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;

}

.costumer_image {
  display: flex;
  align-items: center;
}

.costumer_image  img {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 17px 10px 17px 16px;
}

.costumer_infos {
  width: 83px;
  height: 42px;
}

.costumer_infos h5 {
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: white;
}

.costumer_infos h6 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: #B1CCFB;
}

.costumer_idea {
  width: 311px;
  height: 70px;
  padding-inline: 16px;
}

.costumer_idea p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
}

.costumer_idea button {  
  display: flex;
  align-items: center;
  width: 104px;
  height: 22px;
  border-radius: 5px;
  border-style: none;
  background-color: #437EF7;
  color: var(--white);
  text-align: left;
}

.last_button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px 18px;
  color: #ffffff;
  background-color: var(--blue);
}

.latest {
  width: 375px;
}

.header_latest {
  width: 343px;
  padding: 32px 16px 24px;
}

.header_latest h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.02em;
  text-align: center;
  padding-bottom: 12px;
}

.header_latest p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  text-align: center;
  color: var(--gray);
}

.latest_grid {
  display: grid;
  grid-template-columns: auto;
}

.latest_img {
  border-radius: 5px;
  padding: 0 16px 24px;
}

.latest_info {
  padding: 0 16px;
}

.latest_info h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.02em;
  text-align: left;
  padding-bottom: 4px;
}

.latest_info p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: var(--gray);
  padding-bottom: 16px;
}

.latest_info span {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: var(--gray);
  padding-bottom: 32px;
}

.industry {
  width: 375px;
  padding: 32px 16px;
}

.industry_header {
  width: 343px;
  gap: 24px;
  margin-bottom: 16PX;
}

.industry_header h6 {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.10000000149011612px;
  color: var(--blue);
  padding-bottom: 8px;
}

.industry_header h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--black);
}

.industry_button {
  width: 343px;
  margin-bottom: 16px;
}

.industry_button input {
  width: 343px;
  padding: 12px 16px;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid #DAE0E6;
  width: 311px;
  height: 22px;
  margin-bottom: 16px;
}

.industry_button a {
  width: 343px;
  height: 48px;
  padding: 12px 146px;
  gap: 6px;
  border-radius: 6px;
  background-color: var(--blue);
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;

}

.checkbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 298px;
  height: 64px;
  gap: 16px;
  padding: 16px 22.5px 0;

  
}

.checkbox p {
  display: flex;
  align-items: center ;
  gap: 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
}

.footer {
  width: 375px;
  height: 320px;
  padding: 32px 16px;
  background-color:  #151B28;
}

.footer_companies {
  width: 43px;
  height: 136px;
  gap: 24px;
  padding: 32px 16px 24px;
}

.company_logo {
  width: 160px;
  height: 40px;
  padding: 0 91.5px 24px;
}

.footer_links {
  display: flex;
  justify-content: space-between;
  gap: 41px;
  padding-bottom: 24px;
}

.social_icons {
  display: flex;
  justify-content: space-around;
  gap: 64px;
  padding: 0 16px;
}

.footer_bottom {
  width: 343px;
  height: 96x;
  padding: 24px;
  gap: 24px;
}

.footer_bottom_info {
  display: flex;
  justify-content: space-between;
  width: 343px;
  height: 24px;
  border-top: 1px solid #2E3545
}

.footer_bottom_info p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: #A5ACBA;
  padding-top: 24px;
}

.footer_bottom_end {
  display: flex;
align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  text-align: center;
  color: #A5ACBA;
  padding: 72px 22.5px 0;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 16px;
    justify: space-between;
  }

  .hero {
    width: 768px;
    padding: 48px;
    gap: 40px;

    .hero_image img{
      width: 672px;
      padding: 48px;
    }
  }
  
}


